In [12]:
import pandas as pd
import numpy as np

In [13]:
#Importing Cleaned DataSet
data = pd.read_csv('../../Csv/Pune_Cleaned_Data.csv')

In [14]:
#Droped the unwanted coloumn on DataSet
data.drop(columns=['Unnamed: 0'],inplace = True)

In [15]:
data.head()

   total_sqft  bath   price     location  bhk
0      1056.0   2.0   39.07  Alandi Road    2
1      2894.0   4.0  245.00  Alandi Road    4
2      1084.0   2.0   50.00  Alandi Road    2
3      1230.0   2.0   80.00  Alandi Road    2
4      1750.0   3.0  130.00  Alandi Road    3

In [16]:
X = data.drop(columns=['price'])
y = data['price']

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [18]:
X_train, X_test, y_train ,y_test = train_test_split(X, y , test_size=0.2 , random_state=0)

In [19]:
print(X_train.shape)
print(X_test.shape)

(5880, 4)
(1471, 4)