In [21]:
import pandas as pd
import numpy as np

In [22]:
#Importing Cleaned DataSet
data = pd.read_csv('../Csv/Cleaned_Data.csv')

In [23]:
#Droped the unwanted coloumn on DataSet
data.drop(columns=['Unnamed: 0'],inplace = True)

In [24]:
data.head()

              location  total_sqft  bath  price  bhk
0  1st Block Jayanagar      2850.0   4.0  428.0    4
1  1st Block Jayanagar      1630.0   3.0  194.0    3
2  1st Block Jayanagar      1875.0   2.0  235.0    3
3  1st Block Jayanagar      1200.0   2.0  130.0    3
4  1st Block Jayanagar      1235.0   2.0  148.0    2

In [25]:
data.describe()

         total_sqft         bath        price          bhk
count   7361.000000  7361.000000  7361.000000  7361.000000
mean    1496.942529     2.448173    99.093113     2.500611
std      865.781990     1.011515    93.336841     0.929312
min      300.000000     1.000000    10.000000     1.000000
25%     1096.000000     2.000000    50.000000     2.000000
50%     1260.000000     2.000000    73.200000     2.000000
75%     1680.000000     3.000000   113.000000     3.000000
max    30000.000000    16.000000  2200.000000    16.000000

# PREDICTOR

In [26]:
X = data.drop(columns=['price'])
y = data['price']

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [32]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2, random_state=0)

In [33]:
print(X_train.shape)

(5888, 4)

In [34]:
print(X_test.shape)

(1473, 4)