In [1]:
import pandas as pd
import numpy as np

In [2]:
#Importing Cleaned DataSet
data = pd.read_csv('../Csv/Cleaned_Data.csv')

In [4]:
data.head()

   Unnamed: 0             location  total_sqft  bath  price  bhk
0           0  1st Block Jayanagar      2850.0   4.0  428.0    4
1           1  1st Block Jayanagar      1630.0   3.0  194.0    3
2           2  1st Block Jayanagar      1875.0   2.0  235.0    3
3           3  1st Block Jayanagar      1200.0   2.0  130.0    3
4           4  1st Block Jayanagar      1235.0   2.0  148.0    2

In [5]:
data.describe()

         Unnamed: 0    total_sqft         bath        price          bhk
count   7361.000000   7361.000000  7361.000000  7361.000000  7361.000000
mean    4666.032197   1496.942529     2.448173    99.093113     2.500611
std     2840.295353    865.781990     1.011515    93.336841     0.929312
min        0.000000    300.000000     1.000000    10.000000     1.000000
25%     2301.000000   1096.000000     2.000000    50.000000     2.000000
50%     4559.000000   1260.000000     2.000000    73.200000     2.000000
75%     6875.000000   1680.000000     3.000000   113.000000     3.000000
max    10300.000000  30000.000000    16.000000  2200.000000    16.000000